<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        a:link, a:visited{
        color: darksalmon;
        text-decoration: none;
        }
    </style>
</head>
<body>
    <h1 style="color:chocolate">Aplicacion de la calculadora</h1>
    <p>Selecciona una opcion</p>
    <ul>
        <li><a href="/suma?num1=5&num2=10"> Ir a la pagina de suma </a></li>
        <li><a href="/resta?num1=5&num2=4"> Ir a la pagina de resta </a></li>
        <li><a href="/multiplicacion?num1=5&num2=4"> Ir a la pagina de multiplicacion </a></li>
        <li><a href="/division?num1=5&num2=4"> Ir a la pagina de division </a></li>
        <li><a href="/aleatorio?num1=2&num2=8"> Ir a la pagina de aleatorio </a></li>
    </ul>
</body>
</html>